html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Open Sans, Arial, sans-serif;
  background: #222222;
  background-size: 100% auto;
  margin: 0;
  overflow: hidden;
  color: #eeeeee;
}

@media (max-width: 400px) {
  body {
    background-size: 520%;
  }
}

#content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.outer {
  display: table;
  position: absolute;
  height: 98%;
  width: 98%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: /*whatever width you want*/;
}

.heading-large {
  font-size: 32px;
}

a.blue:link {color: #3333ff; text-decoration: underline;}
a.blue:active {color: #3333ff; text-decoration: underline; }
a.blue:visited {color: #3333ff; text-decoration: underline; }
a.blue:hover {color: #8888ff; text-decoration: underline; }

a.teal:link {color: #33ffff; text-decoration: underline;}
a.teal:active {color: #33ffff; text-decoration: underline; }
a.teal:visited {color: #33ffff; text-decoration: underline; }
a.teal:hover {color: #88ffff; text-decoration: underline; }

a.red:link {color: #ff3333; text-decoration: underline;}
a.red:active {color: #ff3333; text-decoration: underline; }
a.red:visited {color: #ff3333; text-decoration: underline; }
a.red:hover {color: #ff8888; text-decoration: underline; }

a.green:link {color: #33ff33; text-decoration: underline;}
a.green:active {color: #33ff33; text-decoration: underline; }
a.green:visited {color: #33ff33; text-decoration: underline; }
a.green:hover {color: #88ff88; text-decoration: underline; }

a.purple:link {color: #ff33aa; text-decoration: underline;}
a.purple:active {color: #ff33aa; text-decoration: underline; }
a.purple:visited {color: #ff33aa; text-decoration: underline; }
a.purple:hover {color: #ff88aa; text-decoration: underline; }

a.yellow:link {color: #ffaa33; text-decoration: underline;}
a.yellow:active {color: #ffaa33; text-decoration: underline; }
a.yellow:visited {color: #ffaa33; text-decoration: underline; }
a.yellow:hover {color: #ffaa88; text-decoration: underline; }

a.white:link {color: #dddddd; text-decoration: underline;}
a.white:active {color: #dddddd; text-decoration: underline; }
a.white:visited {color: #dddddd; text-decoration: underline; }
a.white:hover {color: #ffffff; text-decoration: underline; }

a.orange:link {color: #ff7300; text-decoration: underline;}
a.orange:active {color: #ff7300; text-decoration: underline; }
a.orange:visited {color: #ff7300; text-decoration: underline; }
a.orange:hover {color: #ffaa44; text-decoration: underline; }


